.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  margin-bottom: 20px;
  font-family: arial;
  transition: transform 0.4s;
  width: var(--quote-width);
  border-radius: var(--border-radius);
  border: var(--border-line-width) var(--border-line-style) var(--border-color);
}

.card:hover {
  transform: scale(1.05);
}

.card .capital-text {
  text-transform: uppercase;
}

.emoji {
  margin-top: auto;
  margin-bottom: 16px;
}

.emoji:hover {
  cursor: pointer;
}
