.button {
  padding: 4px;
  background-color: var(--page-bg-color);
  text-align: center;
  cursor: pointer;
  width: var(--button-width);
  border: var(--border-line-width) var(--border-line-style) var(--border-color);
  border-radius: var(--border-radius);
}

.button p {
  font-weight: var(--button-font-weight);
  color: var(--button-text-color);
}

.button:hover {
  background: var(--button-hover-bg-color);
}
